:root {
    --preto : #000000;
    --azul : #26366B;
    --vermelho : #8C1C1C;
    --cinza : #c8d2db;
    --verde : #daff83;
    --bege : #f3f3ab;
}

*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: var(--verde);
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10%;
}

.principal{
    background-color: var(--verde);
    background-image: linear-gradient(var(--verde),var(--bege));
    display: flex;
    justify-content: flex-start;
}

.menu-item {
    display: inline-block;
    padding: 25px;
    margin-top: 30px;
    font-size: 20px;
    color: var(--preto);
    font-size: 31px;
    font-weight: bold;
    text-shadow: 9px 5px 10px #ffd000;
    transition: 0.5s;
}
.principal__titulo{
    color: #000000;
    font-size: 64px;
    padding: 1px;
    text-align: center;
    margin: 20px;
    width: 500px;
    

}
.principal-texto{
    padding: 20px;
    margin: 50px;
    
}



